### Basic operations

In [1]:
x= 1+1
print (x)
print(1+1)

2
2

In [2]:
# create two variable with value 10 and 20 and add them
# print type of the variable

In [3]:
a= 10
b= 20
print(a+b)
print(type(a))
print(type(b))

30
<class 'int'>
<class 'int'>

In [4]:
# create the variable with datatype float and print their datatype

In [5]:
x= 2.6
print (x)
print(type(x))

2.6
<class 'float'>

In [6]:
# create variable with sring datatype
# print their datatype

In [7]:
s = "priyanka"
print(s)
print(type(s))

priyanka
<class 'str'>

In [8]:
p = "hey, I am priyanka"
print(p)

hey, I am priyanka

In [9]:
# concatenation of the one integer and one string
# for concatenation we have to change the datatype of interger to string
# str are used for changing the datatype of integer to string

In [10]:
a =str(6)
b="priyanka"
print(a+ b)

6priyanka

In [11]:
# boolean datatype

In [12]:
n = True
print(type(n))

<class 'bool'>

In [13]:
# True store the 1 value 
# False store the 0 value

In [14]:
m = False
print(type (m))
print(n+m)
print(True*True)
print(True * False)

<class 'bool'>
1
1
0

In [15]:
# complex number 
# print the real part of complex number
#print imag part of the complex number

In [16]:
v = 4+5J
print(type(v))
print(v.real)
print(v.imag)

<class 'complex'>
4.0
5.0

### string operation

In [17]:
a = "pwskill"
print(a[0])
print(a[-1])
print(a[0:3])
print(a[::])
print(a[0:])
print(a[:1])
print(a[0:4])
print(a[0::2])
print(a[0:7:2])
print(a[::2])
print(a[1::2])
print(a[::-1])
print(a[1:7:-1])
print(a[8: :-1])
print(a[-2:-8:-1])
print(a[:20])
print(a[:-20:-1])

p
l
pws
pwskill
pwskill
p
pwsk
psil
psil
psil
wkl
llikswp

llikswp
likswp
pwskill
llikswp

In [18]:
 # a[20] it will error because 20 index are not present in the data

In [19]:
# len() function in python

In [20]:
name= "priyanka shivaji gaikwad"
print(len(name))

24

In [21]:
# find the index of the given character in string

In [22]:
print(name.find("a"))
print(name.find("shivaji"))

4
9

In [23]:
# count the character from the string

In [24]:
print(name.count("a"))
print(name.count("s" ))
print(name.count("m"))

5
1
0

In [25]:
# upper() function
# convert all the character into uppercase

In [26]:
print(name.upper())

PRIYANKA SHIVAJI GAIKWAD

In [27]:
# lower() function
# convert all the character into lowercase

In [28]:
jk = "PRIYANKA SHIVAJI GAIKWAD "
print(jk.lower())

priyanka shivaji gaikwad

In [29]:
# title() function
# used to change the initial character in each word to Uppercase and the subsequent characters to Lowercase

In [30]:
print(jk.title())

Priyanka Shivaji Gaikwad

In [31]:
# capitalize() function
# it only change the first character to uppercase of the line

In [32]:
print(jk.capitalize())

Priyanka shivaji gaikwad

In [33]:
# string concatenation

In [34]:
print(jk + " JUNKOOK")

PRIYANKA SHIVAJI GAIKWAD  JUNKOOK

In [35]:
print(jk + "123")

PRIYANKA SHIVAJI GAIKWAD 123

In [36]:
print(jk+ str(456))

PRIYANKA SHIVAJI GAIKWAD 456

In [37]:
# print string multiple time

In [38]:
print(jk* 3)

PRIYANKA SHIVAJI GAIKWAD PRIYANKA SHIVAJI GAIKWAD PRIYANKA SHIVAJI GAIKWAD

In [39]:
# replace () function

In [40]:
BTS = name.replace("priyanka", "Harshada")

In [41]:
BTS

'Harshada shivaji gaikwad'

In [42]:
# find() function
# it print the index of the given string

In [43]:
name.find("shiva")

9

### list  Datatype

In [44]:
# list is the collection of element , enclosed in [] and seperated by commas
# in list we can store the multiple item in the single variable 
#list is the build in datatype in python

In [45]:
data = [1, 2, 3, 5 + 4j, "radha", "shyam", 9, "shivaji", 4.2, 6, 2.9]

In [46]:
data

[1, 2, 3, (5+4j), 'radha', 'shyam', 9, 'shivaji', 4.2, 6, 2.9]

In [47]:
type(data)

list

In [48]:
# list slicing 
# in slicing operation only those value print whose index are given
# [initial: end: step]

In [49]:
print(data[0:5])
print(data[7])
print(data[0:3])
print(data[-1])
print(data[::-1])
print(data[0::2])

[1, 2, 3, (5+4j), 'radha']
shivaji
[1, 2, 3]
2.9
[2.9, 6, 4.2, 'shivaji', 9, 'shyam', 'radha', (5+4j), 3, 2, 1]
[1, 3, 'radha', 9, 4.2, 2.9]

In [50]:
# convert string into list

In [51]:
bts = "junkook"
a =(list(bts))
print(a)

['j', 'u', 'n', 'k', 'o', 'o', 'k']

In [52]:
# concatenation of the two list

In [53]:
print(data + a)

[1, 2, 3, (5+4j), 'radha', 'shyam', 9, 'shivaji', 4.2, 6, 2.9, 'j', 'u', 'n', 'k', 'o', 'o', 'k']

In [54]:
# datatype of the element present in the list

In [55]:
type(data[5])

str

In [56]:
type(a[1])

str

In [57]:
# accessing the element of the list and then slicing of that particular element

In [58]:
data[5][0:2]

'sh'

In [59]:
# len() function shows the no.of element present in the list

In [60]:
len(data)

11

In [61]:
# append function 
# append function are used for concatenation

In [62]:
l = [1,2,"priya","junkook",4+5j, 2.3]

In [63]:
l

[1, 2, 'priya', 'junkook', (4+5j), 2.3]

In [64]:
l.append("manisha")

In [65]:
l

[1, 2, 'priya', 'junkook', (4+5j), 2.3, 'manisha']

In [66]:
l.append("BTS")

In [67]:
l

[1, 2, 'priya', 'junkook', (4+5j), 2.3, 'manisha', 'BTS']

In [68]:
# extend function
# extend function unrapped the data and then add in the list

In [69]:
data.extend("harshu")

In [70]:
data

[1,
 2,
 3,
 (5+4j),
 'radha',
 'shyam',
 9,
 'shivaji',
 4.2,
 6,
 2.9,
 'h',
 'a',
 'r',
 's',
 'h',
 'u']

In [71]:
l.extend([7,8,9])

In [72]:
l

[1, 2, 'priya', 'junkook', (4+5j), 2.3, 'manisha', 'BTS', 7, 8, 9]

In [73]:
# insert() function
# insert function is used to add the data at desirable index position in the list

In [74]:
data.insert(2,"jhope")
print(data)
data.insert(5,[4,2,6])
print(data)
data.insert(-1,45)
print(data)
print(data[-1])

[1, 2, 'jhope', 3, (5+4j), 'radha', 'shyam', 9, 'shivaji', 4.2, 6, 2.9, 'h', 'a', 'r', 's', 'h', 'u']
[1, 2, 'jhope', 3, (5+4j), [4, 2, 6], 'radha', 'shyam', 9, 'shivaji', 4.2, 6, 2.9, 'h', 'a', 'r', 's', 'h', 'u']
[1, 2, 'jhope', 3, (5+4j), [4, 2, 6], 'radha', 'shyam', 9, 'shivaji', 4.2, 6, 2.9, 'h', 'a', 'r', 's', 'h', 45, 'u']
u

In [75]:
# pop () function
# pop function are used for delete the data from list
# pop delete the data based on the index

In [76]:
data.pop()
print(data)
data.pop(2)
print(data)
data.pop(3)
print(data)

[1, 2, 'jhope', 3, (5+4j), [4, 2, 6], 'radha', 'shyam', 9, 'shivaji', 4.2, 6, 2.9, 'h', 'a', 'r', 's', 'h', 45]
[1, 2, 3, (5+4j), [4, 2, 6], 'radha', 'shyam', 9, 'shivaji', 4.2, 6, 2.9, 'h', 'a', 'r', 's', 'h', 45]
[1, 2, 3, [4, 2, 6], 'radha', 'shyam', 9, 'shivaji', 4.2, 6, 2.9, 'h', 'a', 'r', 's', 'h', 45]

In [77]:
# remove() function
# remove function are used to delete the value

In [78]:
data.remove(2)
print(data)
data.remove(4.2)
print(data)

[1, 3, [4, 2, 6], 'radha', 'shyam', 9, 'shivaji', 4.2, 6, 2.9, 'h', 'a', 'r', 's', 'h', 45]
[1, 3, [4, 2, 6], 'radha', 'shyam', 9, 'shivaji', 6, 2.9, 'h', 'a', 'r', 's', 'h', 45]

In [79]:
# reverse function

In [80]:
# temporary reverse the element in list
print(data[::-1])

[45, 'h', 's', 'r', 'a', 'h', 2.9, 6, 'shivaji', 9, 'shyam', 'radha', [4, 2, 6], 3, 1]

In [81]:
data

[1,
 3,
 [4, 2, 6],
 'radha',
 'shyam',
 9,
 'shivaji',
 6,
 2.9,
 'h',
 'a',
 'r',
 's',
 'h',
 45]

In [82]:
# permenantly reverse the element in the list
data.reverse()

In [83]:
# Sort function
#sort the list in the increasing order

In [84]:
data = [4,5,3,1,9,6,10,4,2]
data.sort()
data

[1, 2, 3, 4, 4, 5, 6, 9, 10]

In [85]:
#Sort the list in the alphabetically order

In [86]:
name = ["","shivaji","gaikwad","manisha","junkook","jin"]
name

['', 'shivaji', 'gaikwad', 'manisha', 'junkook', 'jin']

In [87]:
name.sort()
name

['', 'gaikwad', 'jin', 'junkook', 'manisha', 'shivaji']

In [88]:
#by using reverse function we can sort list in reverse order

In [89]:
name.sort(reverse=True)
name

['shivaji', 'manisha', 'junkook', 'jin', 'gaikwad', '']

In [90]:
# access the element by using the index function

In [91]:
name.index("junkook")

2

In [92]:
# count function

In [93]:
name.count("manisha")

1

In [94]:
# add new element in the list

In [95]:
name[0]= "jimin"
name

['jimin', 'manisha', 'junkook', 'jin', 'gaikwad', '']

In [96]:
#replace function
#replace function is used for replace the world in the string or list

In [97]:
father = "shivaji"
father

'shivaji'

In [98]:
father_new = father.replace('s', 'S')
father_new

'Shivaji'

### Tuple Datatype

In [99]:
data = (1,5,6+5j,"maya",5.3,"aakash",4,"sharad",[9,10,4.2,6+5j])
data

(1, 5, (6+5j), 'maya', 5.3, 'aakash', 4, 'sharad', [9, 10, 4.2, (6+5j)])

In [100]:
type(data)

tuple

In [101]:
len(data)

9

In [102]:
data[2]

(6+5j)

In [103]:
data[-1]

[9, 10, 4.2, (6+5j)]

In [104]:
## in tuple we can not replace the element

In [105]:
#data[3]=40

### set

In [106]:
s= {1,5,"shivaji",6,"manisha","priya",3,5}
s

{1, 3, 5, 6, 'manisha', 'priya', 'shivaji'}

In [107]:
type(s)

set

In [108]:
# In set we can only put the inmutable intity we can add mutable intity , list can not add in the set

In [109]:
x= {1,2,5,6,(6,0,1)}
x

{(6, 0, 1), 1, 2, 5, 6}

In [110]:
#set removes the duplicate values

In [111]:
d= {10,20,1,2,3,4,1,2,3,4,5,6,4,1,1,2,2,3,3,4} 
d

{1, 2, 3, 4, 5, 6, 10, 20}

In [112]:
# when we want to remove the repeated number in the list we can use the set function

In [113]:
p = [10,20,1,2,3,4,1,2,3,4,5,6,4,1,1,2,2,3,3,4] 
set(p)

{1, 2, 3, 4, 5, 6, 10, 20}

In [114]:
 # set never arrange the data

In [115]:
r= {50,23,15,95,"shivaji","priya",8,60,52}
r

{15, 23, 50, 52, 60, 8, 95, 'priya', 'shivaji'}

In [116]:
# we can not use the index operation in the set
#r[2]

In [117]:
#add,remove operation

In [118]:
r.add(22)

In [119]:
r

{15, 22, 23, 50, 52, 60, 8, 95, 'priya', 'shivaji'}

In [120]:
r.remove(8)
r

{15, 22, 23, 50, 52, 60, 95, 'priya', 'shivaji'}

### Dictionary

In [121]:
dic = {}
type(dic)
# in dictionry data are store in key and value form

dict

In [122]:
data ={"name":"priyanka", "fathername":"shivaji","rollno":15,"band":"bts","star":"junkook"}
data

{'name': 'priyanka',
 'fathername': 'shivaji',
 'rollno': 15,
 'band': 'bts',
 'star': 'junkook'}

In [123]:
type(data)

dict

In [124]:
d2 ={123:"priya",456:"shivaji",True:12}
d2

{123: 'priya', 456: 'shivaji', True: 12}

In [125]:
# access the valve of dictionary by using the key

In [126]:
d2[123]

'priya'

In [127]:
d2[True]

12

In [128]:
# internally True is store in the form of 1 , so by using 1 we can access the True value

In [129]:
d2[1]

12

In [130]:
info ={"name":"priyanka", "fathername":"shivaji","rollno":15,"band":"bts","star":"junkook", "name":"manisha"}
info

{'name': 'manisha',
 'fathername': 'shivaji',
 'rollno': 15,
 'band': 'bts',
 'star': 'junkook'}

In [131]:
data["name"]

'priyanka'

In [132]:
data["band"]

'bts'

In [133]:
study = {"college":"PU","dept":"bioinformatics","year":"first", "sub":["python","datascience,","java","programming"]}
study

{'college': 'PU',
 'dept': 'bioinformatics',
 'year': 'first',
 'sub': ['python', 'datascience,', 'java', 'programming']}

In [134]:
study["sub"][1]

'datascience,'

In [135]:
family = {"name":["priya","shivaji","manisha"], "number":(1,5,6,2,3,4), "hobby":{"roaming","study","cooking"},"day":{"monday":1,"tuesday":2,"sunday":3}}
family

{'name': ['priya', 'shivaji', 'manisha'],
 'number': (1, 5, 6, 2, 3, 4),
 'hobby': {'cooking', 'roaming', 'study'},
 'day': {'monday': 1, 'tuesday': 2, 'sunday': 3}}

In [136]:
family['day']

{'monday': 1, 'tuesday': 2, 'sunday': 3}

In [137]:
family['day']['tuesday']

2

In [138]:
# we can add new key values in the dictionary

In [139]:
family['teacher']= ["mohane", "kumar", "Amuodha", "Sayad"]
family

{'name': ['priya', 'shivaji', 'manisha'],
 'number': (1, 5, 6, 2, 3, 4),
 'hobby': {'cooking', 'roaming', 'study'},
 'day': {'monday': 1, 'tuesday': 2, 'sunday': 3},
 'teacher': ['mohane', 'kumar', 'Amuodha', 'Sayad']}

In [140]:
# we can replace the value of the key with new value

In [141]:
family["teacher"]= ["Archana"]
family

{'name': ['priya', 'shivaji', 'manisha'],
 'number': (1, 5, 6, 2, 3, 4),
 'hobby': {'cooking', 'roaming', 'study'},
 'day': {'monday': 1, 'tuesday': 2, 'sunday': 3},
 'teacher': ['Archana']}

In [142]:
# we acn delete the key value pair by using the del function

In [143]:
del family["teacher"]
family

{'name': ['priya', 'shivaji', 'manisha'],
 'number': (1, 5, 6, 2, 3, 4),
 'hobby': {'cooking', 'roaming', 'study'},
 'day': {'monday': 1, 'tuesday': 2, 'sunday': 3}}

In [144]:
# access the key of the dictionary

In [145]:
family.keys()

dict_keys(['name', 'number', 'hobby', 'day'])

In [146]:
list(family.keys())

['name', 'number', 'hobby', 'day']

In [147]:
# access the values of the dictionary

In [148]:
family.values()

dict_values([['priya', 'shivaji', 'manisha'], (1, 5, 6, 2, 3, 4), {'roaming', 'study', 'cooking'}, {'monday': 1, 'tuesday': 2, 'sunday': 3}])

In [149]:
# convet the valuse into the list

In [150]:
list(family.values())

[['priya', 'shivaji', 'manisha'],
 (1, 5, 6, 2, 3, 4),
 {'cooking', 'roaming', 'study'},
 {'monday': 1, 'tuesday': 2, 'sunday': 3}]

In [151]:
family.items()

dict_items([('name', ['priya', 'shivaji', 'manisha']), ('number', (1, 5, 6, 2, 3, 4)), ('hobby', {'roaming', 'study', 'cooking'}), ('day', {'monday': 1, 'tuesday': 2, 'sunday': 3})])

In [152]:
family.pop("day")

{'monday': 1, 'tuesday': 2, 'sunday': 3}

### Decision making statement

In [153]:
## if else statement

In [154]:
marks = int(input("enter your marks: "))
if marks >=90 and marks <100:
    print("The gatde is first class")
elif marks >=80 and marks<90:
    print("The grade is second class")
elif(marks>= 70 and marks <80):
    print("The grade is third class")
else:
    print("You have to do study")
print("I am student of the pondicherry university")

enter your marks: 85
The grade is second class
I am student of the pondicherry university

In [155]:
price = int(input("enter the price of the fruit: "))
if price>=100 :
    print("the price of the fruit is high")
elif price>=50 and price <100:
    print("this fruit is affordable")
else:
    print("fruit are fresh")
print("fruits are good for the health. \n""we should have the eat fruit daily")

enter the price of the fruit: 150
the price of the fruit is high
fruits are good for the health.
we should have the eat fruit daily

In [156]:
price = int(input("enter the price of the pen: "))
if price>= 500:
    if price >600:
        print("pen is very costly")
    elif price> 510:
        print("pen is the best")
elif price <= 200 and price> 100:
    print ("i want to buy the pen ")

enter the price of the pen: 650
pen is very costly

For loop

In [157]:
l1 = [1,2,3,4,5,6,7,8,9]
l2= []
for i in l1:
    l2.append(i*2)
print(l2)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [158]:
name = [""]

In [159]:
name = ["priya","shivaji","gaikwad","manisha"]
name2=[]
for i in name:
    name2.append(i.upper())
print(name2)

['PRIYA', 'SHIVAJI', 'GAIKWAD', 'MANISHA']

In [160]:
data = [1,2,3,4,5,"priya","shivaji",6.3,6+5,8,"manisha"]
data1=[]
data2=[]
for i in data:
    if type(i) == int or type(i)== float:
        data1.append(i)
    else:
        data2.append(i)
print(data1)
print(data2)

[1, 2, 3, 4, 5, 6.3, 11, 8]
['priya', 'shivaji', 'manisha']

In [161]:
data = ["priyanka ", "shivaji", 1,2,4,56,"Manisha", "Harshada"]
str_data = []
num_data = []

In [162]:
for i in data:
    if type(i)== int:
        num_data.append(i)
    else:
        str_data.append(i)
print(num_data)
print(str_data)

[1, 2, 4, 56]
['priyanka ', 'shivaji', 'Manisha', 'Harshada']

In [163]:
family= ["shivaji","manisha","baby","priyanka","harshada","soham"]
family2=[]
for i in family:
    family2.append(i.upper())
print(family2)

['SHIVAJI', 'MANISHA', 'BABY', 'PRIYANKA', 'HARSHADA', 'SOHAM']

In [164]:
## break function

In [165]:
name = ["priyanka", "shivaji", "manisha", "soham", "harshada", "reva", "devansh"]
print(name)

['priyanka', 'shivaji', 'manisha', 'soham', 'harshada', 'reva', 'devansh']

In [166]:
for i in name:
    if i == "manisha":
        break
    print(i)

priyanka
shivaji

In [167]:
## continue function

In [168]:
for i in name:
    if i == "manisha":
        continue
    print(i)

priyanka
shivaji
soham
harshada
reva
devansh

In [169]:
#else statement is only run when the for loop is completely execute
# in this case the for loop is break when i== 2 therefore else statement is not execute

In [170]:
l = [1,2,3,4,5]
for i in l:
    if i == 2:
        break
    print(i)
else:
    print("I am priyanka shivaji gaikwad, student of pondicherry university.")

1

In [171]:
l = [1,2,3,4,5]
for i in l:
    if i == 2:
        continue
    print(i)
else:
    print("I am priyanka shivaji gaikwad, student of pondicherry university.")

1
3
4
5
I am priyanka shivaji gaikwad, student of pondicherry university.

In [172]:
## range function

In [173]:
range(5)

range(0, 5)

In [174]:
list(range(5))

[0, 1, 2, 3, 4]

In [175]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [176]:
list(range(0,6,2))

[0, 2, 4]

In [177]:
name=["shivaji","manisha","baby","priyanka","harshada","soham"]
print(len(name))
print(list(range(len(name))))
print(list(range(len(name)-1,-1,-1)))

6
[0, 1, 2, 3, 4, 5]
[5, 4, 3, 2, 1, 0]

In [178]:
#write the i in name in the reverse order

In [179]:
for i in list(range(5,0,-1)): 
     print(name[i])

soham
harshada
priyanka
baby
manisha

In [180]:
# extract the data from the list at even index by using the for loop

In [181]:
data2 =[1,2,5,6,4,3,7,8,9,6,3,2,1,4,52]
print(list(range(0,len(data2),2)))
for i in range(0,len(data2),2):
    print(data2[i])

[0, 2, 4, 6, 8, 10, 12, 14]
1
5
4
7
9
3
1
52

In [182]:
# sum of the element of the list by using for loop

In [183]:
num=[1,5,6,3,4,8,9,2,7,10]
sum = 0
for i in num:
    sum=sum+i
print(sum)

55

In [184]:
# for loop in tuple

In [185]:
tup=(1,2,3,4,5)
for i in tup:
    print(i)

1
2
3
4
5

In [186]:
#sum of num in tup

In [187]:
result= 0
for i in tup:
    result = result +i
print(result)

15

In [188]:
# for loop on set

In [189]:
s= {1,2,3,4,5,6,7,8,9,10}
for i in s:
    print(i)

1
2
3
4
5
6
7
8
9
10

### String

In [190]:
name = "priyanka"
for i in name:
    print(i)

p
r
i
y
a
n
k
a

### Dictionary

In [191]:
dic = {"name": "priyanka", "sub": "python", "Reg.no": 15, "Friends": ["monali", "gayatri","Praddyumna","rushi","kaustav","shikhar"]}
print(dic)

{'name': 'priyanka', 'sub': 'python', 'Reg.no': 15, 'Friends': ['monali', 'gayatri', 'Praddyumna', 'rushi', 'kaustav', 'shikhar']}

In [192]:
dic.keys()

dict_keys(['name', 'sub', 'Reg.no', 'Friends'])

In [193]:
dic.values()

dict_values(['priyanka', 'python', 15, ['monali', 'gayatri', 'Praddyumna', 'rushi', 'kaustav', 'shikhar']])

In [194]:
dic.items()

dict_items([('name', 'priyanka'), ('sub', 'python'), ('Reg.no', 15), ('Friends', ['monali', 'gayatri', 'Praddyumna', 'rushi', 'kaustav', 'shikhar'])])

In [195]:
for i in dic.keys():
    print(i)

name
sub
Reg.no
Friends

In [196]:
for i in dic.values():
    print(i)

priyanka
python
15
['monali', 'gayatri', 'Praddyumna', 'rushi', 'kaustav', 'shikhar']

In [197]:
for i in range(1,6):
    print("Priyanka",i ,i*'*')

Priyanka 1 *
Priyanka 2 **
Priyanka 3 ***
Priyanka 4 ****
Priyanka 5 *****

In [198]:
for i in range (10):
    print(i* '*')

*
**
***
****
*****
******
*******
********
*********

In [199]:
# table of number by using the for loop

In [200]:
a = int (input("enter any num: "))
for i in range(1,11):
    result = a*i
    print(result)

enter any num: 2
2
4
6
8
10
12
14
16
18
20

### While loop

In [201]:
## print the numbers upto 10 by using the while loop

In [202]:
a = 1
while a<=10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [203]:
## sum of the numbers by using the while loop

In [204]:
a = int(input("enter your number: "))
start = 1
sum = 0
while start<=a:
    sum = sum+start
    start = start+1
print(sum)

enter your number: 5
15

In [205]:
# factorial of the given number

In [206]:
x= int(input("enter your number: "))
factorial = 1
while x>0:
    factorial = factorial*x
    x = x-1
print(factorial)

enter your number: 5
120

In [207]:
# finonacci series

In [208]:
num = int (input("enter any number: "))
a=0
b=1
count = 0
while count<num:
    print(a)
    c=a+b
    a=b
    b=c
    count =count+1

enter any number: 5
0
1
1
2
3

In [209]:
## reverse the word by using the while loop

In [210]:
name = input("Enter any word: ")
print(name)
reverse = ''
length = len(name)
while length>0:
    reverse = reverse + name[length - 1]
    length = length-1
print(reverse)

Enter any word: hello
hello
olleh

In [211]:
# table of number by using while loop

In [212]:
x = int(input("Enter the number: "))
a= 1
while a<=10:
    result = a*x
    print(result)
    a = a+1

Enter the number: 2
2
4
6
8
10
12
14
16
18
20

In [213]:
## else with the while loop

In [214]:
# when while loop completely execute then else statement also executed

In [215]:
i = 1
n = 5
while i<n:
    print(i)
    i = i +1
else:
    print("priyanka shivaji gaikwad")

1
2
3
4
priyanka shivaji gaikwad

In [216]:
## break function

In [217]:
i = 1
n= 5
while i<n:
    print(i)
    if i==2:
        break
    i = i+1
else :
    print("priyanka shivaji gaikwad ")

1
2

### list comprehension

In [218]:
l = [1,2,3,4,5,6,7,8,9,10]

In [219]:
# by using the loop we have to write so long code but by using the comprehension we can perform the same operation in small code

In [220]:
# code for the loop

In [221]:
l2=[]
for i in l:
    if i% 2 ==0:
        l2.append(i)
print(l2)

[2, 4, 6, 8, 10]

In [222]:
 #  by using comprehension

In [223]:
[i for i in l if i % 2 == 0]

[2, 4, 6, 8, 10]

In [224]:
l2 = ["priya","shivaji","gaikwad","manisha"]
[i.upper() for i in l2]

['PRIYA', 'SHIVAJI', 'GAIKWAD', 'MANISHA']

In [225]:
# tuple comprehension
# in tuple comprehension we have to convert the tuple into list

In [226]:
t=(1,2,3,4,5,6)
list(i*2 for i in t)

[2, 4, 6, 8, 10, 12]

In [227]:
# dictionary comprehension

In [228]:
# squre of the values present in the dictionry

In [229]:
d= {"key1":1, "key2":2, "key3":3 , "key4":4}
{k: v**2 for k,v in d.items()}

{'key1': 1, 'key2': 4, 'key3': 9, 'key4': 16}

In [230]:
# print the values greater than 1

In [231]:
{k:v for k,v in d.items() if v>1}

{'key2': 2, 'key3': 3, 'key4': 4}

### function

In [232]:
# syntax for the function
#     def function_name():
#         function body
#     print(function_name())

In [233]:
def student():
    print("I am priyanka shivaji gaikwad")
print("hello guys....")
student()
print("nice to meet you!!")

hello guys....
I am priyanka shivaji gaikwad
nice to meet you!!

In [234]:
#if we return the function instead of print the we can concatinate the function

In [235]:
def student():
    return "I am priyanka shivaji gaikwad,"
print("hello guys....")
print(student()+ " I am good girl")
print("nice to meet you!!...")

hello guys....
I am priyanka shivaji gaikwad, I am good girl
nice to meet you!!...

In [236]:
def test():
    return 1, 2.3, "priyanka",[1,2,3,4,5,6]
test()

(1, 2.3, 'priyanka', [1, 2, 3, 4, 5, 6])

In [237]:
a,b,c,d = test()

In [238]:
a

1

In [239]:
b

2.3

In [240]:
c

'priyanka'

In [241]:
d

[1, 2, 3, 4, 5, 6]

In [242]:
def operation():
    a = 1*2*3/2
    return a
operation()*4

12.0

In [243]:
def test(a,b,c):
    d = a*b+c
    return d
test(1,2,3)

5

In [244]:
def concatenation(a,b):
    c = a+b
    return c
concatenation("priyanka", " Gaikwad")

'priyanka Gaikwad'

In [245]:
concatenation(1,2)

3

In [246]:
concatenation([1,2,3], [4,5,6])

[1, 2, 3, 4, 5, 6]

In [247]:
#extract the integer data from the list by using the for loop

In [248]:
l= [1,2,3,4,"priya","shivaji",[7,8,9,"shyam"],"manisha"]

In [249]:
l1=[]
for i in l:
    if type(i) == list:
        for j in i:
            if type(j)== int:
                l1.append(j)
                
    if type(i)== int:
        l1.append(i)
print(l1)

[1, 2, 3, 4, 7, 8, 9]

In [250]:
## create a function for extract the numeric data from the list

In [251]:
l= [1,2.5,3,4,"priya","shivaji",[7,8,9.2,"shyam"],"manisha"]

In [252]:
def numericdata(b):
    l1 = []
    for i in l:
        if type(i)== list:
            for j in i:
                if type(j)== int or type(j)== float:
                    l1.append(j)
        else:
            if type(i)== int or type(i)== float:
                l1.append(i)
    return l1
numericdata(l)

[1, 2.5, 3, 4, 7, 8, 9.2]

In [253]:
# reverse the name by using the function

In [254]:
def reversename(name):
    reverse=''
    length = len(name)
    while length>0:
        reverse = reverse +name[length -1]
        length = length -1
    return reverse
reversename("priyanka")

'aknayirp'

In [255]:
# n no.of argument inside the function
# astrick symbol are used for multiple argument

In [256]:
 def multipleargument(*a):  
    return a

In [257]:
multipleargument(1,2,3,4,5,6,7)

(1, 2, 3, 4, 5, 6, 7)

In [258]:
multipleargument("priyanka", "shivaji","gaikwad")

('priyanka', 'shivaji', 'gaikwad')

In [259]:
def test2(*arg, a):
    return arg, a
test2(1,2,3,4,5, a= "priya")

((1, 2, 3, 4, 5), 'priya')

In [260]:
def test3(a,b, c=1, d=2):
    return a,b,c,d
test3(4,5)

(4, 5, 1, 2)

In [261]:
test3(5,6, c=9)

(5, 6, 9, 2)

In [262]:
## double astrick symbol are used for the key and value pair data
# we can store the data in the dictionary format

In [263]:
def test4(**manisha):    
    return manisha
test4()

{}

In [264]:
type(test4())

dict

In [265]:
test4(name="priya",age=22,sub="bioinformatics")

{'name': 'priya', 'age': 22, 'sub': 'bioinformatics'}

In [266]:
def x(**name):
    return name
print(x(a=2,b=5,c=6))

{'a': 2, 'b': 5, 'c': 6}

### Generator function

In [267]:
def fib_num(n):
    a = 0
    b = 1
    for i in range(n):
        yield a 
        a,b = b,a+b
for i in fib_num(10):
    print(i)
print(fib_num(10))

0
1
1
2
3
5
8
13
21
34
<generator object fib_num at 0x000001B6400F04A0>

In [268]:
def count_nu(n):
    count = 1
    while count<n:
        yield count
        count = count+1
c = count_nu(5)
for i in c:
    print(i)
print(count_nu(5))

1
2
3
4
<generator object count_nu at 0x000001B63E6328F0>

In [269]:
def num(a,b):
    return a**b
print(num(4,3))

64

### lambda function

In [270]:
a = lambda a,b : a**b
print(a(4,3))

64

In [271]:
add =  lambda x,y : x+y
print(add(4,5))

9

In [272]:
c_f = lambda p: (9/5)*p+32
print(c_f(45))

113.0

In [273]:
finding_max = lambda x,y : x if x>y else y
print(finding_max(20,21))

21

In [274]:
find_len = lambda x : len(x)
print(find_len('shivajigaikwad'))

14

In [275]:
name = lambda x : x.count('a')
print(name("priyanka"))

2

In [276]:
add = lambda x:x+100
print(add(50))

150

In [277]:
product=  lambda x,y,z : x+y*z
print(product(x=5,z=6,y=8))

53

In [278]:
add = lambda x,y=2,z=6 : x+y+z
print(add(20))

28

In [279]:
function = lambda x,fun : x+ fun(x)
print(function(20,lambda x : x*x ))

420

In [280]:
num= lambda x: (x % 2 and 'odd' or 'even')

In [281]:
num(16)

'even'

In [282]:
num(15)

'odd'

In [283]:
name = lambda word : word in "priyanka shivaji gaikwad"
print(name('priyanka'))
print(name('manisha'))

True
False

map function along with the lambda function

In [284]:
data =[2,3,4,5,10,6,20,32,12,15]
x = list(map(lambda a: a*2, data))
print(x)

[4, 6, 8, 10, 20, 12, 40, 64, 24, 30]

In [285]:
data2 = [2,3,4,5,10,6,20,32,12,15]
cube = list(map(lambda a: a**3, data2))
print(cube)

[8, 27, 64, 125, 1000, 216, 8000, 32768, 1728, 3375]

In [286]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
print(list(map(lambda x,y: x+y, l1,l2)))

[7, 9, 11, 13, 15]

external function

In [287]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
def add(x,y):
    return x+y
print(list(map(add,l1,l2)))

[7, 9, 11, 13, 15]

reduce function

In [288]:
from functools import reduce

In [289]:
l = [6,7,8,9,10,2,3,4,5]

In [290]:
reduce(lambda x,y : x+y,l)

54

In [291]:
reduce(lambda x,y: x*y ,l)

3628800

In [292]:
reduce(lambda x,y : x if x>y else y, l)

10

## oops in python

### Class

In [293]:
class name():
    def nam(self):
        a = "priyanka shiavaji gaikwad"
        return a
b = name()
b.nam()

'priyanka shiavaji gaikwad'

In [294]:
c = name()
c.nam()

'priyanka shiavaji gaikwad'

In [295]:
class school():
    def student(self):
        print("priyanka shiavji gaikwad")
shivaji= school()
shivaji.student()
print(type(shivaji))

priyanka shiavji gaikwad
<class '__main__.school'>

class and constructor

In [296]:
class school():
    def __init__(self, name, rollno, marks, mailid):
        self.name = name
        self.rollno = rollno
        self.marks = marks
        self.mailid = mailid
        
    def student(self):
        return self.name, self.rollno, self.marks, self.mailid

In [297]:
s1 = school("priyanka", 15, 95, "gaikwadpriyanka7560@gmail.com")

In [298]:
s1.student()

('priyanka', 15, 95, 'gaikwadpriyanka7560@gmail.com')

In [299]:
s1.name

'priyanka'

In [300]:
s2 = school("devansh", 10, 99, "gaikwaddevansh1104@gmail.com")

In [301]:
s2.student()

('devansh', 10, 99, 'gaikwaddevansh1104@gmail.com')

In [302]:
s2.marks

99

In [303]:
class student():
    pass

In [304]:
student1= student()

In [305]:
student.name="priya"
student1.marks =95

In [306]:
student1.marks

95

In [307]:
student1.name

'priya'

In [308]:
class student():
    def did_pass(self):
        if self.marks>=35:
            return True
        else:
            return False

In [309]:
student1= student()
student1.marks = 30

In [310]:
student1.marks

30

In [311]:
did_pass_fail = student1.did_pass()

In [312]:
did_pass_fail

False

In [313]:
student2 = student()

In [314]:
student2.marks= 89

In [315]:
did_pass_fail = student2.did_pass()

In [316]:
did_pass_fail

True

In [317]:
student1.name= "raj"
student2.name= "priya"

In [318]:
student1.name

'raj'

In [319]:
student2.name

'priya'

In [320]:
class complex():
    def __init__(self,real,imag):
        self.real= real
        self.imag =imag

    def addition(self, number):
        real= self.real +number.real
        imag = self.imag+ number.imag
        result = complex(real,imag)
        return result

In [321]:
num1 = complex(1,2)
num2 =complex(3,4)

In [322]:
result = num1.addition(num2)

In [323]:
result.real

4

In [324]:
result.imag

6

In [325]:
class tringle():
    def __init__(self, side1, side2,side3):
        self.side1 =side1
        self.side2=side2
        self.side3 = side3
    def perimeter(self):
        return self.side1+ self.side2+ self.side3

In [326]:
tranguu = tringle(1,2,3)

In [327]:
tranguu.perimeter()

6

# polymorphism

In [328]:
def data(a,b):
    return a+b

In [329]:
data(1,2)

3

In [330]:
data("priyanka"," gaikwad")

'priyanka gaikwad'

In [331]:
data([1,2,3],[4,5,6])

[1, 2, 3, 4, 5, 6]

In [332]:
class data_science():
     def syllabus(self):
        print("this is the data science class")
class python():
     def syllabus(self):
        print("this is the python class")
def data(object):
     for i in object:
        i.syllabus()

In [333]:
data_science =data_science()
python = python()

In [334]:
object = [data_science , python]
data(object)

this is the data science class
this is the python class

In [335]:
class girl():
    def name(self):
        print("my name is priyanka shivaji gaikwad")

class boy():
    def name(self):
        print("my name is devansh shivaji gaikwad")

def student(college):
    for i in college:
        i.name()

In [336]:
girl =girl()
boy = boy()
college = [girl,boy]
student(college)

my name is priyanka shivaji gaikwad
my name is devansh shivaji gaikwad

In [337]:
class car():
    def __init__(self, name,price, year):
        self.name = name
        self.price = price
        self.year = year
    def data(self):
        print("priyanka!!")

class boat():
    def __init__(self, name , price, year):
        self.name = name
        self.price = price
        self.year = year
    def data(self):
        return self.name, self.price, self.year

class plane():
    def __init__(self,name,price,year):
        self.name =name
        self.price =price
        self.year = year
    def data(self):
        return self.name, self.price, self.year

In [338]:
car1 = car("swift", 10000, 2000)

In [339]:
boat1 = boat("tang", 20000, 2001)

In [340]:
plane1 = plane("indigo", 30000, 2002)

In [341]:
plane1.data()

('indigo', 30000, 2002)

In [342]:
boat1.data()

('tang', 20000, 2001)

In [343]:
car1.data()

priyanka!!

In [344]:
car1.name

'swift'

In [345]:
boat1.price

20000

In [346]:
plane1.year

2002

In [347]:
class school():
    def __init__(self, name,rollno):
        self.name =name
        self.rollno = rollno
    def cla(self):
        print("my name is " ,self.name)
        print("my roll no is " ,self.rollno)

In [348]:
class collage(school):
    def data(self):
        print("priyanka shivaji gaikwad")

In [349]:
s1 = school("priyanka",15)
s1.cla()

my name is  priyanka
my roll no is  15

In [350]:
c1 = collage("devansh", 12)
c1.cla()

my name is  devansh
my roll no is  12

In [351]:
class india():
    def __init__(self, capital, language, type):
        self.capital =capital
        self.language = language
        self.type = type

    def data(self):
        print("the capital of the india is :", self.capital)
        print("the language of the india is: ", self.language)
        print("the type of the india is: ", self.type)

class USA():
    def __init__(self, capital, language, type):
        self.capital = capital
        self.language = language
        self.type = type

    def data(self):
        print("tha capital of the usa is :", self.capital)
        print("the language of the usa is: ", self.language)
        print("the type of the usa is: ", self.type)

In [352]:
obj_india =india("delhi","hindi", "India is developing country")

In [353]:
obj_usa = USA("washington", "english","usa is a developed country")

In [354]:
country = [obj_india , obj_usa]
for i in country:
    i.data()

the capital of the india is : delhi
the language of the india is:  hindi
the type of the india is:  India is developing country
tha capital of the usa is : washington
the language of the usa is:  english
the type of the usa is:  usa is a developed country

## Encapsulation

In [355]:
# encapsulation is mechanism of wrapping the data and code acting on the data together in single unit.

In [356]:
class student():
    def __init__(self, name, age,mailid):
        self.__name= name
        self.__age =age
        self.__mailid = mailid
        
    def set_age(self, age):
        self.__age = 0 if age <0 else age
        
    def get_age(self):
        return self.__age

In [357]:
s1 =student("priyanka",22,"gaikwadpriyanka@gmail.com")

In [358]:
s1._student__name

'priyanka'

In [359]:
s1.set_age(-2)

In [360]:
s1.get_age()

0

In [361]:
s1.set_age(20)

In [362]:
s1.get_age()

20

In [363]:
class bank_account():
    def __init__(self,balance):
        self.__balance = balance

    def deposit(self, amount):
        self.__balance = self.__balance + amount

    def withdaw(self, amount):
        if self.__balance >=amount:
            self.__balance = self.__balance - amount
            return True
        else:
            return False
    def get_balance(self):
        return self.__balance

In [364]:
priya = bank_account(1000)

In [365]:
priya.get_balance()

1000

In [366]:
priya.deposit(1000)

In [367]:
priya.get_balance()

2000

In [368]:
priya.withdaw(500)

True

In [369]:
priya.get_balance()

1500

In [370]:
priya.withdaw(2000)

False

# inheritance

In [371]:
class student():
    def girl(self):
        print("manisha shivaji gaikwad")
class teacher(student):
    pass

In [372]:
s1 = teacher()
s1.girl()

manisha shivaji gaikwad

In [373]:
##multilevel inheritance

In [374]:
#in multilevel inheritance we can herited data from one class to second class then from second class to third class
## so we can access the data of first class in third class also
#chlid class is act like parent class to another child class

In [375]:
class student():
    def girl(self):
        print("priyanka shivaji gaikwad")

class teacher(student):
    def boy(self):
        print("mohane sir")

class school(teacher):
    pass

In [376]:
s1 = teacher()

In [377]:
s1.girl()

priyanka shivaji gaikwad

In [378]:
a1 = school()

In [379]:
a1.girl()

priyanka shivaji gaikwad

In [380]:
a1.boy()

mohane sir

In [381]:
s1.boy()

mohane sir

In [382]:
b1 = student()

In [383]:
b1.girl()

priyanka shivaji gaikwad

In [384]:
##multiple inheritance

In [385]:
## in multiple inheritance we can inherited the multiple class in the single class,  we can access the multiple class
## in the single class

In [386]:
class sister():
    def girl(self):
        print("priyanka shivaji gaikwad")
class brother():
    def boy(self):
        print("devansh shivaji gaikwad")
class mother():
    def lady(self):
        print("manisha shivaji gaikwad")
class father(sister,brother,mother):
    pass

In [387]:
f1 = father()

In [388]:
f1.girl()

priyanka shivaji gaikwad

In [389]:
f1.boy()

devansh shivaji gaikwad

In [390]:
f1.lady()

manisha shivaji gaikwad

In [391]:
# init function in the inheritance

In [392]:
class student:
    def __init__(self,name,marks):
        self.name=name
        self.marks= marks
    def girl(self):
        return self.name, self.marks

class teacher(student):
    def boy(self):
        print("devansh shivaji gaikwad")

In [393]:
t1 = teacher("priyanka", 95)

In [394]:
t1.girl()

('priyanka', 95)

In [395]:
t1.boy()

devansh shivaji gaikwad

In [396]:
class student:
    def __init__(self,name,marks):
        self.name=name
        self.marks= marks
    def girl(self):
        return self.name, self.marks

class teacher(student):
    def __init__(self, school, name, marks):
        student.__init__(self, name ,marks)
        self.school = school
    def boy(self):
        return self.name, self.marks, self.school

In [397]:
t1 = teacher("pondicherry university", "priyanka",95)

In [398]:
t1.boy()

('priyanka', 95, 'pondicherry university')

In [399]:
t1.girl()

('priyanka', 95)

In [400]:
t1.school

'pondicherry university'

In [401]:
s1 = student("priyanka" ,95)

In [402]:
s1.girl()

('priyanka', 95)

In [403]:
## hierarcial inheritance

In [404]:
class parent1:
    def grandfa(self):
        print("sadashiv gaikwad")

class parent2(parent1):
    def father(self):
        print("shivaji gaikwad")

class child(parent1):
    def me(self):
        print("priyanka gaikwad")

In [405]:
f1 = parent2()

In [406]:
c1 = child()

In [407]:
f1.grandfa()

sadashiv gaikwad

In [408]:
c1.grandfa()

sadashiv gaikwad

# abstraction

In [409]:
import abc

In [410]:
class student():
    @abc.abstractmethod
    def name(self):
        pass
    @abc.abstractmethod
    def marks(self):
        pass
    @abc.abstractmethod
    def age(self):
        pass

In [411]:
class teacher(student):
    def name(self):
        print("priyanka shivaji gaikwad")

    def marks(self):
        print(95)

    def age(self):
        print(22)

class boy(student):
    def name(self):
        print("devansh")

In [412]:
 t1 = teacher()

In [413]:
t1.name()

priyanka shivaji gaikwad

In [414]:
b1 = boy()

In [415]:
b1.name()

devansh

## decorator

In [416]:
def student(func):
    def teacher():
        print("hello i am ")
        func()
        print("nice to meet you")
    return teacher
@student
def pondy():
    print("priyanka")

In [417]:
pondy()

hello i am
priyanka
nice to meet you

  ### class method

In [418]:
class vehicle():
    cost = 100000000000
    def __init__(self, price,color,brand):
        self.price = price
        self.color = color
        self.brand = brand
        
    @classmethod
    def details(cls, price, color, brand):
        print(price, color, brand)
    
    def car(self):
        print(self.price, self.color, self.brand, vehicle.cost)

In [419]:
## creating and calling instance method and add in the class variable

In [420]:
p1 = vehicle(1000, "white","swift")

In [421]:
p1.car()

1000 white swift 100000000000

In [422]:
# calling a classmethod

In [423]:
vehicle.details(2000,"red","baleno")

2000 red baleno

In [424]:
class student():
    marks = 95
    def __init__(self,name):
        self.name=name

    @classmethod
    def student1(cls):
        print("marks of the student: ", cls.marks)

    @classmethod
    def student3(cls, age):
        print("my age is: ", age)
        
    def student2(self):
        print("name of the student: ", self.name)

In [425]:
#calling a classmethod

In [426]:
student.student1()

marks of the student:  95

In [427]:
# creating and calling the instances method

In [428]:
s1 = student("priyanka")

In [429]:
s1.student2()

name of the student:  priyanka

In [430]:
student.student3(22)

my age is:  22

In [431]:
# add external function in the class

In [432]:
class vehicle():
    cost = 100000000000
    def __init__(self, price,color,brand):
        self.price = price
        self.color = color
        self.brand = brand

    @classmethod
    def details(priya, price, color, brand):
        return priya(price, color, brand)

    def car(self):
        print (self.price, self.color, self.brand, vehicle.cost)

def plane(cls,price,name, color):
    print(price, name,color)

In [433]:
vehicle.plane = classmethod(plane)

In [434]:
p1 = vehicle.plane(4000,"indigo", "white")

4000 indigo white

### static method

In [435]:
#a static method is a method that belongs to a class rather than an instance
# of the class. It is defined within the class using the @staticmethod decorator
# and does not have access to the instance or its attributes.

In [436]:
class student():
  def teacher(self,name,rollno, marks):
    print(name,rollno,marks)
s1 = student()
s1.teacher("priyanka", 15,95)

class student():
  @staticmethod
  def school(name,marks,rollno):
    print(name,marks,rollno)
student.school("priyanka", 95,15)

priyanka 15 95
priyanka 95 15

In [437]:
class family():
  @staticmethod
  def member(name, hobby):
    print("i am ", name, "my hobby is ", hobby)
family.member("shivaji gaikwad,", "wathing mobile and enjoying the life")

i am  shivaji gaikwad, my hobby is  wathing mobile and enjoying the life

In [438]:
#To call a static method from a class method in Python, you can simply
# invoke the static method using the class name, followed by the method name.

In [439]:
class family():
  @staticmethod
  def static_method():
    print("this is the static method")

  @classmethod
  def class_method(cls):
    print("this is the class method")
    cls.static_method()

In [440]:
family.class_method()

this is the class method
this is the static method

In [441]:
family.static_method()

this is the static method

In [442]:
# class the static method in the static class

In [443]:
class student():
    @staticmethod
    def student1(list_of_name):
        print(list_of_name)

    @staticmethod
    def student2(list_of_hobby):
        student.student1(["priyanka","shivaji","manisha","devansh","harshada","soham"])
        print(list_of_hobby)

    @classmethod
    def student3(cls):
        cls.student2()

In [444]:
student.student1("priyanka")

priyanka

In [445]:
student.student2(["study","watching mobile","cooking","sleeping","reading","playing"])

['priyanka', 'shivaji', 'manisha', 'devansh', 'harshada', 'soham']
['study', 'watching mobile', 'cooking', 'sleeping', 'reading', 'playing']

### special magic (dunder) function

In [446]:
#print(dir(int))    ## this print all the dunder function with integer
#print(dir(str))       ## this print all the dunder function with string

In [447]:
a = 100

In [448]:
a+5

105

In [449]:
#by using dunder function
print(a.__add__(5))

105

In [450]:
# in the dunder function first new function will be run after that init function will be run

In [451]:
class student():
    def __new__(cls):
        print("this is the python class")
    def __init__(self):
        self.name = "priyanka"
        print("my name is priyanka")
s1 = student()

this is the python class

In [452]:
# in this code we write init function first but the new fuction is run

In [453]:
class student():
    def __init__(self):
        print("I am priyanka gaikwad")
    def __new__(cls):
        print("this is the python class")
s1 = student()

this is the python class

In [454]:
# __str__ dunder function in the python

In [455]:
class student():
    def __init__(self, num):
        self.num = num

    def __str__(self):
        return f"hii guys its me!! {self.num}"

In [456]:
s1 = student(15)

In [457]:
s1

In [458]:
class MyClass:
    def __init__(self, value):
        self.value = value

    def __str__(self):
        return f"MyClass instance with value: {self.value}"

In [459]:
# Creating an instance of MyClass

In [460]:
obj = MyClass(10)

In [461]:
obj

In [462]:
class student():
    def __init__(self):
        print(256314)

    def __str__(self):
        print("hii guys its me!!")

In [463]:
s1 = student()

256314

### property decorator

In [464]:
#property decorator is a built-in function that allows you to define methods
#that are accessed like attributes. It provides a way to define getter, setter,
# and deleter methods for a class attribute, giving you control over its access and modification.

In [465]:
class numbers:
    def __init__(self, price, name):
        self.__price = price
        self.name = name

In [466]:
p1 = numbers(100,"manisha")

In [467]:
p1.name

'manisha'

In [468]:
# p1.price  # we can not access the price arttribute because it is private

In [469]:
# we can access the private attribute by using @property decorator

In [470]:
class numbers:
    def __init__(self, price, name):
        self.__price = price
        self.name = name

    @property
    def access_price(self):
        return self.__price

In [471]:
p1 = numbers(520, "priyanka")

In [472]:
p1.access_price

520

In [473]:
p1.name

'priyanka'

In [474]:
# set the value of the price attribute by using decorator

In [475]:
class numbers:
    def __init__(self, price, name):
        self.__price = price   ## private access modifier
        self.name = name       ## public access modifier

    @property
    def access_price(self):
        return self.__price

    @access_price.setter
    def set_price(self, course_price):
        if course_price<=520:
            pass
        else:
            self.__price = course_price

In [476]:
p1 = numbers(520, "priyanka")

In [477]:
p1.access_price

520

In [478]:
p1.set_price = 100

In [479]:
p1.access_price

520

In [480]:
p1.set_price = 1000

In [481]:
p1.access_price

1000

In [482]:
class circle():
    def __init__(self,radius):
        self.__radius = radius

    @property
    def access_radius(self):
        return self.__radius

    @access_radius.setter
    def set_radius(self, radius2):
        if radius2 <= 0:
            pass
        else:
            self.__radius = radius2

In [483]:
c1 = circle(5)

In [484]:
c1.access_radius

5

In [485]:
c1.set_radius = 10

In [486]:
c1.access_radius

10

In [487]:
c1.set_radius = -1

In [488]:
c1.access_radius

10

### file handling in python

In [489]:
#write and read the file

In [490]:
f= open("test.txt" , 'w')

In [491]:
text = f.write("priyanka shivaji gaikwad")

In [492]:
f = open("test.txt", 'r')

In [493]:
text = f.read()

In [494]:
text

'priyanka shivaji gaikwad'

In [495]:
f.close()

In [496]:
f = open("test.txt" , 'rb')

In [497]:
text = f.read()

In [498]:
text

b'priyanka shivaji gaikwad'

In [499]:
f.close()

In [500]:
# read the file without close

In [501]:
with open("test.txt", 'r') as f:
    print(f.read())

priyanka shivaji gaikwad

In [502]:
data = open("data.txt", 'w')
data.write("I am priyanka shivaji gaikwad, i live in vidani, my father is farmer, my family is very sweet.")

94

In [503]:
data = open("data.txt" ,'r')
a = data.read()

In [504]:
a

'I am priyanka shivaji gaikwad, i live in vidani, my father is farmer, my family is very sweet.'

In [505]:
data = open("data.txt", 'a')
b = data.write("i want to do something special for my family ")

In [506]:
b

45

In [507]:
data = open("data.txt" ,'r')
c = data.read()

In [508]:
c

'I am priyanka shivaji gaikwad, i live in vidani, my father is farmer, my family is very sweet.i want to do something special for my family '

In [509]:
# json module in python

In [510]:
import json

In [511]:
data = {"name":"priyanka","fathername":"shivaji", "rollno": 15, "subject": ["maths","biology","genetics"]}
with open("data.json",'w') as a:
    json.dump(data, a)

In [512]:
with open("data.json", 'r') as a:
     data2 = json.load(a)

In [513]:
data2

{'name': 'priyanka',
 'fathername': 'shivaji',
 'rollno': 15,
 'subject': ['maths', 'biology', 'genetics']}

In [514]:
a.close()

In [515]:
# CSV module in the python

In [516]:
import csv

In [517]:
data = [["name", "rollno", "subject","marks"],
         ["priyanka",15,"maths",95],
          ["harshada",16,"science",98],
         ["devansh",14,"marathi", 100]]
with open("data.csv" ,'w') as a:
    writer_data = csv.writer(a)
    for i in data:
        print(writer_data.writerow(i))

27
22
24
24

In [518]:
with open('data.csv', 'w', newline='') as file:
    csv_writer = csv.writer(file)
    csv_writer.writerow(['Name', 'Age', 'Email'])  # Write header row
    csv_writer.writerow(['John Doe', 25, 'john@example.com'])  # Write data row
    csv_writer.writerow(['Jane Smith', 30, 'jane@example.com'])  # Write another data row
with open('data.csv', 'r') as file:
        csv_reader = csv.reader(file, delimiter=';')
        
        for row in csv_reader:
        # Process each row with a semicolon (;) delimiter
            print(row)

['Name,Age,Email']
['John Doe,25,john@example.com']
['Jane Smith,30,jane@example.com']

In [519]:
data = [
    ['Name', 'Age', 'Country'],
    ['John', '25', 'USA'],
    ['Alice', '30', 'Canada'],
    ['Bob', '35', 'UK']
]

In [520]:
with open('priya.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

In [521]:
file.close()

In [522]:
 data =[["name","subject", "marks", "hobby", "age"],
       ["priya","maths",98,"reading", 23],
       ["shivaji","science",98,"watching tv",50],
       ["manisha","history",85,"cooking", 40],
       ["soham","english", 95,"playing", 6],
       ["harshada", "marathi", 85, "writting", 25]]

In [523]:
with open("family.csv", "w", newline= '') as a:
    data1 = csv.writer(a)
    data1.writerows(data)

In [524]:
with open("family.csv","r") as b:
    data2 = csv.reader(b)
    for i in data2:
        print(i)
        print(i[2])

['name', 'subject', 'marks', 'hobby', 'age']
marks
['priya', 'maths', '98', 'reading', '23']
98
['shivaji', 'science', '98', 'watching tv', '50']
98
['manisha', 'history', '85', 'cooking', '40']
85
['soham', 'english', '95', 'playing', '6']
95
['harshada', 'marathi', '85', 'writting', '25']
85

In [525]:
data = [['Name', 'Age', 'Country'],
        ['John', '26', 'USA'],
        ['Alice', '30', 'Canada'],
        ['Bob', '35', 'UK']]

with open("school.csv", 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

# Reading from CSV
with open('school.csv', 'r') as file:
    reader = csv.reader(file)

    with open ("new_school.csv", 'w') as new_file:
        new_writer = csv.writer(new_file, delimiter = '*')
        for row in reader:
            new_writer.writerow(row)
            print(row)

['Name', 'Age', 'Country']
['John', '26', 'USA']
['Alice', '30', 'Canada']
['Bob', '35', 'UK']

In [526]:
# reading of csv file dictionary format

In [527]:
with open('school.csv', 'r') as file:
    reader = csv.DictReader(file)
    for i in reader:
        # print(i)
        print(i['Age'])

26
30
35

In [528]:
#binary file formation
##binary file in python used to read ad edit the image , audio, video

In [529]:
with open("shivaji.bin", "wb") as a:
    a.write(b"\x01\x02\x03")

with open("shivaji.bin", "rb") as b:
    c = b.read()
    print(c)

b'\x01\x02\x03'

#### buffered read and write other file method

In [530]:
import io

In [531]:
with open("buffer.txt", "wb") as a:
    data = io.BufferedWriter(a)
    data.write(b"BTS member Jungkook was born in Busan, South Korea. He is 24 years old and is the youngest member of BTS. Jungkook "
           b"attended the School of Performing Arts Seoul which caused him to start high school a year later than others"
           b" because of his early debut in the music career.")
    data.flush()
with open("buffer.txt", "rb") as b:
    data1 = io.BufferedReader(b)
    data2 = data1.read()
    print(data2)

b'BTS member Jungkook was born in Busan, South Korea. He is 24 years old and is the youngest member of BTS. Jungkook attended the School of Performing Arts Seoul which caused him to start high school a year later than others because of his early debut in the music career.'

#### logging debugger in python

In [532]:
import logging

In [533]:
logging.basicConfig(filename= "priyanka.log", level = logging.INFO)
logging.info("priyanka shivaji gaikwad")
logging.info("I am good girl")
logging.info("I am so confident")

In [534]:
# level of logging (info, critical, debug, notset, error, warnning)

In [535]:
logging.error("This is the error")
logging.critical("this is the critical")
logging.warning("this is the warning")
logging.debug("this is the debug")

In [536]:
# we can not print the logging.debug in the info file. when we set the logging.INFO
# # then we can only print the logging.error, logging.critical, logging.warning when we set the logging.INFO

In [537]:
# when we set the logging.DEBUG the we can print all the logging function

In [538]:
logging.basicConfig(filename= "Devansh.log", level= logging.DEBUG)
logging.debug("This is the debug statement")
logging.info("this is the info statement")
logging.error("This is the error")
logging.critical("this is the critical")
logging.warning("this is the warning")

In [539]:
# record the time and message in the logging file by using the format

In [540]:
logging.basicConfig(filename= "test1.log", level= logging.DEBUG, format = '%(asctime)s%(message)s')
logging.debug("This is the debug statement")
logging.info("this is the info statement")
logging.error("This is the error")
logging.critical("this is the critical")
logging.warning("this is the warning")
logging.shutdown()

In [541]:
# record the time, name, levelname, message in the logging file by using the format

In [542]:
logging.basicConfig(filename= "test2.log", level= logging.DEBUG, format = '%(asctime)s %(name)s %(levelname)s %(message)s')
logging.debug("This is the debug statement")
logging.info("this is the info statement")
logging.error("This is the error")
logging.critical("this is the critical")
logging.warning("this is the warning")

### exception handling

In [543]:
# a =10
# print(a/0)  ## this is give the error because we can not divide the number with the 0 in the python
# print("priyanka shivaji gaikwad")  ## we can not run this code also because error are already present in our code

In [544]:
#exception handling are used to avoid error
## try block are used for the handle the error and exception block are used for execute the code

In [545]:
 try:
    a= 10
    print(a/0)
except Exception as e:
    print("priyanka shivaji gaikwad")
a=3
print(a+10)

priyanka shivaji gaikwad
13

In [546]:
# when we found the error in the try block then only the exception block will be run
# otherwise our try block will be run

In [547]:
try:
    a=10
    print(a*2)
except Exception as e:
    print("priyanka shivaji gaikwad")

20

In [548]:
# else block are also prensent in the python if the try block is execute successfully the else block also execute

In [549]:
try:
    a= 20
    print(a/2)
except Exception as e:
    print("priyanka shivaji gaikwad")
else:
    print("our try block is executed")

10.0
our try block is executed

In [550]:
# if the except block will be run then else block does not be run

In [551]:
 try:
    a= 20
    print(a/0)
except Exception as e:
    print("priyanka shivaji gaikwad")
else:
    print("our try block is executed")

priyanka shivaji gaikwad

In [552]:
# finally block are also present in the pyhton

In [553]:
## if try block is executed the finally block aslo executed

In [554]:
try:
    print(10+5)
finally:
    print("i love mathematics")

15
i love mathematics

In [555]:
## but if error will be occure in the try block then finally is executed but it will show the error
## because only exception block can be handle the error

In [556]:
# try:
#     print(10/0)
# finally:
#     print("error will be occur")

In [557]:
 try:
    print(10/0)
except Exception as a:
    print("I can handle the error")
finally:
    print("i don't know i will be execute or not")
    print("i was executed")

I can handle the error
i don't know i will be execute or not
i was executed

In [558]:
try:
    a = int(input("enter any number: "))
    b = [1,2,3,4,5]
    print(b[a])
except Exception as a:
    print("invalid index")
finally:
    print("i will be print always")

enter any number: 2
3
i will be print always

#### custom exception handling

In [559]:
class Age(Exception):
    def __init__(self,msg):
        self.msg = msg
def Detail_age(age):
    if age <0:
        raise Age("enter age is negative ")
    elif age>200:
        raise Age ("enter age is very very high")
    else:
        print("enter age is valid")
try:
    age = int(input("enter your age:"))
    Detail_age(age)
except Age as e:
    print(e)

enter your age:5
enter age is valid

#### list of general use exception

In [560]:
try:
    a= 10/0
except ZeroDivisionError as a:
    print(a)

division by zero

In [561]:
 try :
    int("priyanka")
except (ValueError , TypeError) as a:
    print(a)

invalid literal for int() with base 10: 'priyanka'

In [562]:
try :
    int("priyanka")
except (ValueError , TypeError) as a:
    print("this will catch the error")

this will catch the error

In [563]:
try:
    import harshu
except ImportError as a:
    print(a)
print(10/4)

No module named 'harshu'
2.5

In [564]:
try:
    d ={"key": "priyanka", "l" : [1,2,3,4]}
    print(d["key2"])
except KeyError as a:
    print(a)

'key2'

In [565]:
try:
    "priya".test()
except AttributeError as a:
    print(a)

'str' object has no attribute 'test'

In [566]:
try:
    l =[1,2,3,4,5]
    l[6]
except IndexError as a:
    print(a)

list index out of range

In [567]:
try:
    123+"priya"
except TypeError as a:
    print(a)

unsupported operand type(s) for +: 'int' and 'str'

In [568]:
try:
    with open ("harshu.txt" , "r") as a:
        a.read()
except FileNotFoundError as a:
    print(a)

[Errno 2] No such file or directory: 'harshu.txt'

In [569]:
# always use a specific exception
try:
    a = 10/0
except ZeroDivisionError as a:  ## specific exception
    print(a)

division by zero

#print always a proper msg
try:
    a = 10/0
except ZeroDivisionError as a:  ## specific exception
    print("I am trying to handle zerodivision error")  ## proper msg